<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest')}}">
    <script>
    </script>
</head>
<body>
    {% include "navbar.html" %}

    <h1>Aufgabe</h1>

    <div class="container">
        <div class="table-toolbar">
            <button class="float-right" onclick="location.href='/tasks/{{ task.uid }}/delete'" type="button"> Aufgabe Löschen</button>
        </div>
        <div class="grid">
            <div class="card">
                <h2 class="card-title">UID</h2>
                <div class="metric-value"> {{ task.uid }} </div>
            </div>
            <div class="card">
                <h2 class="card-title">Aufgabe</h2>
                <div class="metric-value"> {{ task.task }}</div>
            </div>
            {% for value in task_id_scheme %}
                <div class="card">
                    <h2 class="card-title">{{ value.description }}</h2>
                    <div class="metric-value"> {{ task[value.key] }}</div>
                </div>
            {% endfor %}
            <div class="card">
                <h2 class="card-title">Status</h2>
                <div class="metric-value
                {% if task.status == 'running' %}    
                    running
                {% elif task.status == 'failed' %}    
                    failed
                {% elif task.status == 'finished' %}    
                    finished
                {% endif %}
                "> {{ task.status }}</div>
            </div>
            <div class="card">
                <h2 class="card-title">Multithread</h2>
                <div class="metric-value"> {{ task.multithread }}</div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="grid element-center">
            <div class="card">
            <h2 class="card-title"> Logs </h2>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr><th>Worker</th><th>Status</th><th>Zeitstempel</th><th>Eintrag</th></tr>
                    </thead>
                    <tbody id="log_table">
                        {% for log in logs %}
                            <tr class="
                            {% if log.type == 'INFO' %}
                                info
                            {% elif log.type == 'WARNING' %}    
                                warning
                            {% elif log.type == 'ERROR' %}   
                                error
                            {% endif %}
                        ">
                                <td>{{ log.worker }}</td><td>{{ log.status }}</td><td>{{ log.timestamp }}</td><td>{{ log.text }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h2 class="card-title"> <a href="/workers/{{ worker.host }}/{{ worker.port }}"> Worker </a></h2>
                <ul>
                    <li>
                        <span>Host: </span>
                        <span>{{ worker.host }}</span>
                    </li>
                    <li>
                        <span>Port: </span>
                        <span>{{ worker.port }}</span>
                    </li>
                    <li>
                        <span>IP: </span>
                        <span>{{ worker.ip }}</span>
                    </li>
                    <li>
                        <span>Ausführbare Prozesse: </span>
                        <span>{{ worker.managable_tasks }}</span>
                    </li>
                    <li>
                        <span>Momentane Aufgabe: </span>
                        <span>{{ worker.current_task }}</span>
                    </li>
                    <li>
                        <span>Letzter Log: </span>
                        <span>{{ worker.log }}</span>
                    </li>
                    <li>
                        <span>Timeout: </span>
                        <span>{{ worker.timeout }}</span>
                    </li>
                </ul>
        </div>
    </div>
</body>
</html>
